body {
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
}

.input-box { display: flex; gap: 5px; margin-bottom: 20px; }

input { flex: 1; padding: 10px; border: 1px solid #ddd; border-radius: 5px; }

button { padding: 10px; cursor: pointer; border-radius: 5px; border: none; background: #27ae60; color: white; }

ul { list-style: none; padding: 0; }

li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.concluido span {
    text-decoration: line-through;
    color: #bbb;
}

.btn-remover {
    background: #e74c3c;
    font-size: 12px;
    padding: 5px 8px;
}