*{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

.botoes {
  margin-top: 20px;
}

.concluido {
  text-decoration: line-through;
  color: gray;
}